.selected-container{
    display: flex;
    justify-content: center;
    padding-left: 89px;
}

.selected-box{
    width: 95%;
}



.cleanout-ratings {
    display: flex;
    align-items: center;
    gap: 29px;

}

.notice-one-warranty {
    display: flex;
    display: flex;
    gap: 56px;
    margin-bottom: 12px;

}

.sec-dot{
    width: 4px;
    height: 4px;
    background-color: #D9D9D9;
    border-radius: 50%;
    margin-left: 12px;
    margin-right: 12px;
}

.icon-categores{
    display: flex;
    align-items: center;
    gap:12px;
}

.calendr-image,
.gurantee-image{
    width: 1.5rem;
height: 1.5rem;

}

.icones-warranty{
    display: flex;
    align-items: center;
    gap:12px;
}



.three-btn {
    display: flex;
    gap: 433px;
    margin-bottom: 13px;

}

.name-category {
    color: #303030;
    font-family: Lexend Deca;
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0px;
    margin-top: 50px;
}

.first-tow-btn {
    display: flex;
    gap: 28px;
}

.clean-desc {
    width: 44.6875rem;
    height: 8.25rem;
    color: rgba(0, 0, 0, 0.75);
    font-family: Lexend Deca;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5625rem;
}


.top-line {
    content: "";
    position: absolute;
    top: 119px;
    width: 100px;
    height: 7px;
    background-color: green;
    left: 132px;
    top: 162px;
    border-radius: 20px;


}

.clean-reno-instal {
    display: flex;
    gap: 118px;
}

.Installation,
.Renovation,
.cleaner {
    border: none;
    width: 9.1875rem;
    height: 2.1875rem;
    border-radius: 1.5625rem;
    background: rgba(33, 134, 107, 0.20);
    color: #21866B;
    font-family: Lexend Deca;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.related-green-line{
    border: 3px solid green;
    max-width: 86px;
    margin-top: 53px;
}
.green-line {
    border-bottom: -5px solid green;
    width: 5rem;
    height: 0rem;
    stroke-width: 6px;
    stroke: #20856A;
    margin-top: 47px;
}

.Details-btn,
.Reviews-btn,
.Favorites-btn {
    color: #707070;
    font-family: Lexend Deca;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    background: none;
}
.Favorites-btn{
    min-width: 140px;
     
}
.full-cont{
    max-width: 924px;
}

.button-bottom-line {

    width: 45.3125rem;
    height: 0.0625rem;
    background: #D9D9D9;
    width: 45.3125rem;
    height: 0.0625rem;
    background: #D9D9D9;
    display: flex;
    margin: 0px;
    margin-bottom: 41px;
}

.Vector {
    border: 4px solid green;
    width: 6.0625rem;
    height: 0rem;
    position: absolute;
    margin-top: -4px;
    border-radius: 4px;
}

.ratings {
    color: #FFC107;
    font-family: Lexend Deca;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cleanout {
    color: #B8B8B8;
    font-family: Lexend Deca;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.notice-one,
.warranty {
    color: #BCBCBC;
    font-family: Lexend Deca;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.first-price {
   color: #21856B;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
   
}

.service-pic{
    width: 45.375rem;
    height: 34.0625rem;
}

.left-price-line{
    border: 3px solid  green;
    width: 47px;
    margin-left: -49px;
    transform: rotate(90deg);
    position: absolute;
    margin-top: 43px;

}
.price-cost{
    width: 21.25rem;
    height: 5.5rem;
    border-radius: 0.3125rem;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
}


.left-right-cont {
    display: flex;
    align-items: baseline;
    margin-top: 64px;
}


.Reply-Listing {
    color: #FFF;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    border-radius: 0.625rem;
    border: 1px solid #21856B;
    background: #21856B;
    box-shadow: 0px 0px 10px 0px #21856B;
    width: 21.25rem;
    height: 5.5rem;
    display: flex;
    align-items: center;
    /* text-align: center; */
    justify-content: center;
    margin-top: 26px;
}


.icon-listing {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.icon-review {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.star-icon {
    width: 1.3125rem;
    height: 1.3125rem;
}

.flag-icon {
    width: 1.3125rem;
    height: 1.3125rem;

}

.star-flag-icon {
    margin-top: 26px;
}

.write-review {
    color: #707070;
    font-family: Lexend Deca;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.report-listing {
    color: #707070;
    font-family: Lexend Deca;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.member-card {
    width: 21.375rem;
    height: 27.875rem;
    border-radius: 0.3125rem;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px #D9D9D9;
    margin-top: 26px;
}

.ratings-member {
    display: flex;
    justify-content: space-around;
    gap: 136px;
    padding-top: 26px;
}


.member-img {
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

.rev-pic {
    border-radius: 72px;
    width: 144px;
}

.member-nichols {
    text-align: center;
    color: #000;
    font-family: Lexend Deca;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

.member-since {
    color: #BCBCBC;
    font-family: Lexend Deca;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.clock-demand {
    display: flex;
    align-items: center;
    gap: 12px;
}


.demand-years {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.years-icon {
    display: flex;
    align-items: center;
    gap: 12px;
}

.year,
.on-demand {
    color: #707070;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: capitalize;
}


.card-bottom-line {
    margin-top: 42px;
    background: #D9D9D9;
}

.card-footer {
    display: flex;
    align-items: center;
    margin-top: -7px;
    justify-content: space-around;
    gap: 140px;
    border-left: 4px solid green;
    max-height: 36px;
    margin-top: 3px;
}

.mas-icon {
    width: 1.375rem;
    height: 1.4375rem;
}

.card-footer p{
    color: #21856B;
font-family: Lexend Deca;
font-size: 1.125rem;
font-style: normal;
font-weight: 500;
line-height: normal;
}




/* css review */

.review-box{
    max-width: 728px;
max-height: 221px;
border-radius: 5px;
background-color: #FFF;
box-shadow: 0px 0px 20px 0px #D9D9D9;
margin-top: 43px;
}

.review-main-box{
    position: relative;
    padding-top: 14px;
}

.review-main-box::before{
    content:"";
    position: absolute;
    top:0;
    width:80px;
    height:6px;
    background-color: #20856A;
}

.review-profile-box{
    display: flex;
    gap: 37px;
    padding-top: 18px;
    padding-left: 30px;
    margin-bottom: 0;
}

.review-profilepic-box{
    max-width: 104.286px;
max-height: 104.286px;
overflow: hidden;
}

.review-profile-box img{
    border-radius: 50%;
    max-width: 104.286px;
max-height: 104.286px;
}

.name-box{
    color: #000;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 0;
}

.star-date-box{
    display: flex;
    align-items: center;
}

.star-box{
color: #FFC107;
font-size: 14px;
display: flex;
gap: 8px;
}

.dot-box{
    width: 7px;
    height:7px;
    background-color: #D9D9D9;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 20px;
}

.date-box{
    color: #707070;
font-size: 14px;
font-style: normal;
font-weight: 200;
line-height: normal;
}

.review-comment-box p{
    color: rgba(0, 0, 0, 0.75);
font-size: 15px;
font-style: normal;
font-weight: 300;
line-height: 25px; 
padding: 0 50px 20px 30px;
margin-top: 20px;
position: relative;
}

.review-comment-box p::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 41px;
    background-color: #20856A;
}

.relatedlist-cont{
    margin-top: 110px;
}

.related-heading{
    color: #303030;
font-size: 2.8125rem;
font-style: normal;
font-weight: 500;
line-height: normal;
}